@model IEnumerable<baitap.Models.CartModel>
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
       $("#removecard").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",

                url: '@Url.Action("Remove", "Card")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Xóa giỏ hàng thành công")
                    $('#CartCount').text(@Session["count"] -1);


                },
                error: function () {
                    alert("Lôi trong khi thêm giỏ hàng")
                }

            });
            return false;
        });
    });
</script>

<section class="section-content padding-y">
    <div class="thùng đựng hàng">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá tiền</th>
                                <th scope="col" width="120">Tổng tiền</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="product-@item.Products.Id">
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside"><img src="~/Content/images/items/@item.Products.Avartar" class="img-sm"></div>
                                            </figure>
                                        </td>
                                        <td>
                                            <input type="text" value="@item.Quantity" />
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@(String.Format("{0:N0}", ((@item.Products.Price)))) </var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@(String.Format("{0:N0}", ((@item.Products.Price * item.Quantity)))) </var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right">
                                            <input type="hidden" value="@item.Products.Id" id="productid" />
                                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="" class="btn btn-light" id="removecart"> Xóa</a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="#" class="btn btn-primary float-md-right"> <i class="fa fa-chevron-right"></i> </a>

                    </div>

                    <a href="@Url.Action("Index", "Pland")" class="btn btn-primary float-md-right"> <i class="fa fa-chevron-right"></i>Thanh toán </a>
                    <a href="@Url.Action("Index","Home")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                </div>
        </div> <!-- card.// -->

        <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
        </div>

        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Have coupon?</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="" placeholder="Coupon code">
                                <span class="input-group-append">
                                    <button class="btn btn-primary">Apply</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">USD 568</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right">USD 658</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right  h5"><strong>$1,650</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="~/Content/images//misc/payments.png" height="26">
                    </p>

                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name border-top padding-y">
    <div class="container">
        <h6>Chính sách thanh toán và hoàn tiền</h6>
        <p>
            1. Quy định về thanh toán
            Khách hàng có thể lựa chọn các hình thức thanh toán sau để thanh toán cho giao dịch trên website Anh ngữ ZIM

            Chuyển khoản

            Thẻ ATM (Thẻ ghi nợ/thanh toán/trả trước nội địa)

            Thẻ tín dụng thẻ, thẻ ghi nợ, thẻ trả trước quốc tế

            2. Chi tiết các hình thức thanh toán
            Chuyển khoản: Khách hàng đăng kí dịch vụ thông qua hình thức chuyển khoản có thể sử dụng bất kì tài khoản ngân hàng nào để chuyển đến số tài khoản được cung cấp
            trên website của Anh ngữ ZIM thông qua giao dịch trực tiếp tại ngân hàng hoặc tính năng thanh toán trực tuyến của Ngân hàng.

            Thẻ ATM (Thẻ ghi nợ/thanh toán /trả trước nội địa): Để thanh toán bằng thẻ ngân hàng nội địa, thẻ của khách hàng phải được đăng ký
            sử dụng tính năng thanh toán trực tuyến, hoặc ngân hàng điện tử của Ngân hàng. Giao dịch phải được ghi nhận thành công từ thông báo cấp 
            phép thành công do hệ thống cổng thanh toán trả về (đảm bảo số dư/hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).

            Thẻ tín dụng, thẻ thanh toán quốc tế, thẻ trả trước quốc tế: Thẻ tín dụng/ghi nợ/trả trước VISA, MasterCard, JCB, Union Pay
            , Amex của các Ngân hàng trong nước và nước ngoài phát hành. Giao dịch phải được ghi nhận cấp phép thành công do đúng hệ thống 
            cổng thanh toán trả về (đảm bảo số dư/hạn mức và xác thực khách hàng theo quy định sử dụng của thẻ).

        </p>
        <p>
            Thanh toán trực tiếp bằng tiền mặt hoặc thẻ (Thẻ Visa, Thẻ tín dụng...):

            - Trong trường hợp quý khách thanh toán bằng thẻ Visa hoặc Master bằng cách cà thẻ tại Trung tâm của chúng tôi, Quý khách phải mang thẻ và
            phải đúng chủ thẻ để lấy phiếu và ký nhận phiếu đã thanh toán. Chúng tôi sẽ không chịu trách nhiệm khi quý khách dùng thẻ của người khác để thanh toán.
            Ngay sau khi kiểm tra và nhận được báo "Có" từ Ngân hàng, chúng tôi sẽ tiến hành xuất hàng và giao hàng cho quý khách trong thời gian sớm nhất. Đặc biệt: 
            Công Ty có hỗ trợ thanh toán bằng thẻ Visa tại nhà.
        </p>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->