@model IEnumerable<baitap.Models.CartModel>
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#removecart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",

                url: '@Url.Action("Remove", "Card")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Xóa giỏ hàng thành công")
                    $('#CartCount').text(@Session["count"] -1);


                },
                error: function () {
                    alert("Lôi trong khi thêm giỏ hàng")
                }

            });
            return false;
        });
    });
</script>

<section class="section-content padding-y">
    <div class="thùng đựng hàng">

        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá tiền</th>
                                <th scope="col" width="120">Tổng tiền</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="product-@item.Products.Id">
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside"><img src="~/Content/images/items/@item.Products.Avartar" class="img-sm"></div>
                                            </figure>
                                        </td>
                                        <td>
                                            <input type="text" value="@item.Quantity" />
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@(String.Format("{0:N0}", ((@item.Products.Price)))) </var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@(String.Format("{0:N0}", ((@item.Products.Price * item.Quantity)))) </var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right">
                                            <input type="hidden" value="@item.Products.Id" id="productid" />
                                            <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="" class="btn btn-light" id="removecart"> Xóa</a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        <a href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>

                    </div>


                    <a href="@Url.Action("Index","Home")" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                </div>
        </div> <!-- card.// -->

        <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
        </div>

        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Have coupon?</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="" placeholder="Coupon code">
                                <span class="input-group-append">
                                    <button class="btn btn-primary">Apply</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">USD 568</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right">USD 658</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right  h5"><strong>$1,650</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="~/Content/images//misc/payments.png" height="26">
                    </p>

                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name border-top padding-y">
    <div class="container">
        <h6>Chính sách thanh toán và hoàn tiền</h6>
        <p>
            1. PHƯƠNG THỨC GIAO HÀNG -THANH TOÁN TẠI NHÀ(TIỀN MẶT-THẺ(THẺ VISA,THẺ TÍN DỤNG.....):

            Phương thức Giao hàng - Thanh toán tại nhà chỉ áp dụng đối với khu vực TPHCM.

            Lưu ý : Phí quẹt thẻ là 2%/ giá trị đơn hàng.



            2. PHƯƠNG THỨC THANH TOÁN TRƯỚC:

            Chuyển tiền, chuyển khoản, thanh toán trực tiếp bằng tiền mặt hoặc qua thẻ tại văn phòng của chúng tôi.Sau khi nhận được tiền thanh toán chúng tôi sẽ giao hàng và lắp đặt đúng như yêu cầu của khách hàng.

            a. Chuyển tiền/chuyển khoản:

            Áp dụng cho khách hàng ở xa TPHCM và Tỉnh Thành Phố khác  hoặc khách hàng có nhu cầu sử dụng phương thức thanh toán này:


        </p>
        <p>
            Thanh toán trực tiếp bằng tiền mặt hoặc thẻ (Thẻ Visa, Thẻ tín dụng...):

            - Trong trường hợp quý khách thanh toán bằng thẻ Visa hoặc Master bằng cách cà thẻ tại Trung tâm của chúng tôi, Quý khách phải mang thẻ và phải đúng chủ thẻ để lấy phiếu và ký nhận phiếu đã thanh toán. Chúng tôi sẽ không chịu trách nhiệm khi quý khách dùng thẻ của người khác để thanh toán. Ngay sau khi kiểm tra và nhận được báo "Có" từ Ngân hàng, chúng tôi sẽ tiến hành xuất hàng và giao hàng cho quý khách trong thời gian sớm nhất. Đặc biệt: Công Ty có hỗ trợ thanh toán bằng thẻ Visa tại nhà.
        </p>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->